{% extends "core/dashboard/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  Admin | Wood Inventory
{% endblock title %}
{% block admincontent %}
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
        <div class="pl-2">
          <button type="button"
                  data-modal-target="crud-modal"
                  data-modal-toggle="crud-modal"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="me-1 -ms-1 w-5 h-5"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
              </path>
            </svg>
            ເພີ່ມໄມ້
          </button>
          {# --- Add Export to Excel Button Here --- #}
          <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}export=excel"
             class="text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <svg class="me-1 -ms-1 w-5 h-5"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v4.59L7.3 9.7a.75.75 0 00-1.1 1.02l3.25 3.5a.75.75 0 001.1 0l3.25-3.5a.75.75 0 10-1.1-1.02l-1.95 2.1V6.75z">
              </path>
            </svg>
            ດາວໂຫລດ Excel
          </a>
          {# --- End Export Button --- #}
          <!-- Add wood modal -->
          {% include "core/dashboard/modals/add/add-wood-modal.html" %}
        </div>
        <form action="" method="get">
          <label for="table-search" class="sr-only">Search</label>
          <div class="pr-2 relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text"
                   id="table-search-users"
                   name="search"
                   class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Search for woods">
          </div>
        </form>
      </div>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr class="lao-table-header">
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3">ຮູບພາບ</th>
            <th scope="col" class="px-6 py-3">ປະເພດໄມ້</th>
            <th scope="col" class="px-6 py-3">ເກຣດ</th>
            <th scope="col" class="px-6 py-3">ຈຳນວນ</th>
            <th scope="col" class="px-6 py-3">ລາຄາ/ຫົວໜ່ວຍ</th>
            <th scope="col" class="px-6 py-3">ແຫຼ່ງທີ່ມາ</th>
            <th scope="col" class="px-6 py-3">ວັນທີ່ຮອດໂຮງງານ</th>
            <th scope="col" class="px-6 py-3">ສະຖານະ</th>
            <th scope="col" class="px-6 py-3">ຈັດການ</th>
          </tr>
        </thead>
        {% if wood_inventories %}
          <tbody>
            {% for wood in wood_inventories %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">{{ forloop.counter }}</td>
                <th scope="row"
                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <img class="w-10 h-10 rounded-full"
                       src="{% if wood.image %} {{ wood.image.url }} {% else %} {% static 'assets/images/placeholder.jpg' %} {% endif %}"
                       width=""
                       height=""
                       alt="image">
                </th>
                <th scope="row">
                  <div class="ps-3">
                    <div class="text-base font-semibold">{{ wood.wood_type }}</div>
                  </div>
                </th>
                <td class="px-6 py-4">{{ wood.grade }}</td>
                <td class="px-6 py-4">{{ wood.quantity }}</td>
                <td class="px-6 py-4">LAK{{ wood.unit_price|intcomma }}</td>
                <td class="px-6 py-4">{{ wood.source }}</td>
                <td class="px-6 py-4">{{ wood.arrival_date|date:'d/m/Y' }}</td>
                <td class="px-6 py-4">
                  {% if wood.status == 'Available' %}
                    ຫວ່າງ
                  {% elif wood.status == 'Reserved' %}
                    ຈອງ
                  {% else %}
                    ດຳເນິນການແລ້ວ
                  {% endif %}
                </td>
                <td class="px-6 py-4">
                  <!-- Modal toggle -->
                  <a href="#"
                     type="button"
                     data-modal-target="editWoodModal-{{ wood.id }}"
                     data-modal-show="editWoodModal-{{ wood.id }}"
                     class="font-medium text-blue-600 mr-2 dark:text-blue-500 hover:underline">ແກ້ໄຂ</a>
                  <a href="#"
                     type="button"
                     data-modal-target="deletePopupModal-{{ wood.id }}"
                     data-modal-show="deletePopupModal-{{ wood.id }}"
                     class="font-medium text-red-600 dark:text-red-500 hover:underline">ລືບ</a>
                  <!-- Edit wood modal -->
                  {% include "core/dashboard/modals/edit/edit-wood-modal.html" %}
                  <!-- Delete wood modal -->
                  <form action="{% url 'delete-wood-inventory' wood.id %}" method="post">
                    {% csrf_token %}
                    {% include "core/dashboard/modals/delete/delete-wood-modal.html" %}
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr class="bg-white text-center border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="w-4 p-4" colspan="9">ບໍ່ມີຂໍ້ມູນ</td>
          </tr>
        {% endif %}
      </table>
    </div>
    {% include "core/dashboard/partials/pagination.html" %}
  </div>
{% endblock admincontent %}
