<div id="editWoodModal-{{ wood.id }}"
     tabindex="-1"
     aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form method="post"
          action="{% url 'edit-wood-inventory' wood.id %}"
          class="relative bg-white rounded-lg shadow dark:bg-gray-700" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">ແກ້ໄຂ</h3>
        <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="editWoodModal-{{ wood.id }}">
          <svg class="w-3 h-3"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-2 gap-6">
          <div class="col-span-2">
            <label for="wood_type"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ປະເພດໄມ້</label>
            <select id="wood_type"
                    name="wood_type"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for wood_type, display_name in wood.WOOD_TYPE_CHOICES %}
                <option value="{{ wood_type }}"
                        {% if wood.wood_type == wood_type %}selected{% endif %}>{{ display_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-span-2">
            <label for="grade"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ເກຣດ</label>
            <select id="grade"
                    name="grade"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for grade, display_name in wood.GRADE_CHOICES %}
                <option value="{{ grade }}" {% if wood.grade == grade %}selected{% endif %}>{{ display_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-span-2">
            <label for="arrival_date"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ວັນທີ່ຮອດໂຮງງານ</label>
            <div class="relative max-w-sm">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor"
                     viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
              </div>
              <input id="datepicker-autohide-{{ wood.id }}"
                     datepicker
                     datepicker-autohide
                     name="arrival_date"
                     type="text"
                     {% comment %}
                     datepicker-format="mm-dd-yyyy"
                     {% endcomment %}
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     placeholder=""
                     value="{{ wood.arrival_date|date:'d-m-Y' }}">
            </div>
          </div>
          <div class="col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="image">ເລືອກປະເພດໄມ້</label>
            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                   id="image"
                   name="image"
                   type="file">
          </div>
          <div class="col-span-2">
            <label for="quantity"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ຈຳນວນ:</label>
            <input type="number"
                   id="quantity"
                   name="quantity"
                   aria-describedby="helper-text-explanation"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   value="{{ wood.quantity }}"
                    />
          </div>
          <div class="col-span-2">
            <label for="unit_price"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ລາຄາຕໍ່ຫົວໜ່ວຍ:</label>
            <input type="number"
                   id="unit_price"
                   name="unit_price"
                   aria-describedby="helper-text-explanation"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   value="{{ wood.unit_price }}"
                   required />
          </div>
          <div class="col-span-2">
            <label for="source"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ແຫຼ່ງທີ່ມາ</label>
            <textarea id="source"
                      name="source"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="">{{ wood.source }}</textarea>
          </div>
          <div class="col-span-2">
            <label for="status"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ສະຖານະ</label>
            <select id="status"
                    name="status"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for status, display_name in wood.STATUS_CHOICES %}
                <option value="{{ status }}"
                        {% if wood.status == status %}selected{% endif %}>{{ display_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          ແກ້ໄຂ
        </button>
      </div>
    </form>
  </div>
</div>
