@font-face {
  font-family: 'NoToSansLao';
  src: url('../assets/fonts/NotoSansLao-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'NoToSansLao', sans-serif !important;
}

.lao-table-header {
  font-size: medium;
}

.lao-table-header-sm {
  font-size: small !important;
}